        <section class="section-pages" id="pages-section-contact">
            <h2><span ng-if="fiches.data.type.id == 2 || fiches.data.type.id == 1">5</span><span ng-if="fiches.data.type.id == 3">3</span> - Contact<sup>*</sup> </h2>
            <i class="fa fa-info-circle pull-right" aria-hidden="true" uib-tooltip="{{fiches.infobullesContact}}" tooltip-placement="left" tooltip-trigger="outsideClick" style="margin-top:-30px" ng-if="fiches.infobullesContact"></i>
                <div class="row">
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3">Nom de l'organisation *</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="fiches.data.contact.name" required uib-tooltip="{{fiches.infobullesContact}}" tooltip-placement="top-right" tooltip-trigger="focus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Téléphone</label>
                            <div class="col-sm-9">
                                <input type="tel" class="form-control" ng-model="fiches.data.contact.phone" ng-blur="fiches.data.contact.phone=fiches.formatTel(fiches.data.contact.phone)" ng-paste="fiches.data.contact.phone=fiches.formatTel(fiches.data.contact.phone)"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Courriel</label>
                            <div class="col-sm-9">
                                <input type="mail" class="form-control" placeholder="contact@domaine.fr"  ng-model="fiches.data.contact.mail"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Site officiel</label>
                            <div class="col-sm-9">
                                <input type="url" class="form-control" placeholder="http://" ng-model="fiches.data.contact.url" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal"> 
                        <div class="form-group">
                            <label class="col-sm-3">Page facebook</label>
                            <div class="col-sm-9">
                                <input type="url" class="form-control" placeholder="http://" ng-model="fiches.data.contact.facebook"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Compte twitter</label>
                            <div class="col-sm-9">
                                <input type="url" class="form-control" placeholder="http://" ng-model="fiches.data.contact.twitter" />
                            </div>
                        </div>
                    </div>
                </div>
        </section>