<!--<div class="modal-header">
  <button ng-click="$dismiss()" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>-->

<div class="modal-body">

  <button ng-click="$dismiss()" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <br><br>
  D'un côté les évènements, de l'autre les activités. Il faut choisir votre camp.
  <br>
  Nous entendons par <b>"évènements"</b> des sorties ponctuelles et par <b>"activités"</b> ce qui se passe à l'année.
  <br><br>
  OK on vous donne des exemples :
  <br><br>

  <div class="row">

    <div class="col-md-6">
      <b>CHOISIR EVENEMENTS</b> <br><br>
      <table class="table table-condensed">
        <tr><td style="background-color:#ffc549">Ateliers de poterie dans le cardre d'une expo</td></tr>
        <tr><td>Bal du 14 juillet</td></tr>
        <tr><td style="background-color:#ffc549">Stage de stand up pendant la toussaint</td></tr>
        <tr><td>Une rencontre avec un écrivain</td></tr>
        <tr><td style="background-color:#ffc549">Ciné-aqua</td></tr>
      </table>
    </div>

    <div class="col-md-6"> 
      <b>CHOISIR ACTIVITES</b> <br><br>
      <table class="table table-condensed">
        <tr><td style="background-color:#acd792">Cours de poterie tous les mardis</td></tr>
        <tr><td>Pratique du Tango associatif tous les jeudis</td></tr>
        <tr><td style="background-color:#acd792">Cours de stand up en centre d'animation</td></tr>
        <tr><td>L'heure du conte tous les mercredis</td></tr>
        <tr><td style="background-color:#acd792">Aquagym tous les jours</td></tr>
      </table>
    </div>

  </div>


</div>


