<div class="page-header">
  <h1>Gestion des utilisateurs</h1>
  <button type="button" class="btn btn-primary pull-right" ng-click="users.addRow()"
          uib-tooltip="Ajouter un utilisateur">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
</div>

<table class="table table-condensed table-striped"
       template-header="ng-table/addRowHeader.html"
       show-filter="!users.tableParams.parameters().addRow"
       ng-table-dynamic="users.tableParams with users.tableColumns">
  <tr ng-repeat="row in $data" ng-form="rowForm">
    <td ng-repeat="col in $columns">

      <div ng-if="!row.eRow" ng-switch="col.dataType">
        <span ng-switch-default>
          {{row[col.field]}}
        </span>
        <span ng-switch-when="select">
          {{row[col.field] | staticData:col.selectData}}
        </span>
        <div ng-switch-when="command" class="cell-command">
          <button class="btn btn-xs btn-link"
                  ng-click="users.editRow(row)"
                  uib-tooltip="Modifier">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-xs btn-link"
                  ng-click="users.deleteRow(row)"
                  uib-tooltip="Supprimer">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>

      <div ng-if="row.eRow" ng-switch="col.dataType">
        <div class="form-group" ng-switch-default show-errors>
          <label for="{{col.field}}" class="sr-only">{{col.title}}</label>
          <input type="text" name="{{col.field}}" id="{{col.field}}"
                 class="form-control input-sm"
                 ng-model="row.eRow[col.field]" ng-required="col.required" />
        </div>
        <span ng-switch-when="email">
          {{row[col.field]}}
        </span>
        <select class="form-control input-sm" name="{{col.field}}"
                ng-switch-when="select"
                ng-model="row.eRow[col.field]"
                select-number>
          <option ng-repeat="selectData in col.selectData"
                  value="{{selectData.id}}">
            {{selectData.title}}
          </option>
        </select>
        <div ng-switch-when="command" class="cell-command">
          <button class="btn btn-xs btn-link"
                  ng-disabled="rowForm.$invalid"
                  ng-click="users.saveRow(row, rowForm)"
                  uib-tooltip="Enregistrer">
            <i class="fa fa-floppy-o"></i>
          </button>
          <button class="btn btn-xs btn-link"
                  ng-click="users.cancelRow(row)"
                  uib-tooltip="Annuler">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </td>
  </tr>
</table>