// input-count
.input-count {
  position: relative;

  textarea {
    resize: none;
  }

  .character-count {
    position: absolute;
    right: 5px;
    bottom: 0;
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
    opacity: 0.1;
  }
}